@model maerskline.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerFN)
        </dd>

        <dt>
            @Html.Label("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerLN)
        </dd>

        <dt>
            @Html.Label("Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.Label("Contact")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
