@model IEnumerable<maerskline.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="success">
        <th>
            @Html.Label("ID")
        </th>
        <th>
            @Html.Label("First Name")
        </th>
        <th>
            @Html.Label("Last Name")
        </th>
        <th>
            @Html.Label("Email")
        </th>
        <th>
            @Html.Label("Contact")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerFN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerLN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.customerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.customerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.customerID })
        </td>
    </tr>
}

</table>
