@model maerskline.Models.Warehouse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Warehouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Warehouse Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warehouseName)
        </dd>

        <dt>
            @Html.Label("Warehouse Location")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warehouseLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.warehouseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
